*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}
.titulares{
    padding: 1rem;
    background-color: #333;
    color: #eee;
}
a{
    color: #eee;
    text-decoration: none;
}
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu ul{
    list-style-type: none;
}

.imagen-fondo{
    min-height: 100vh;
    background-image: url("https://placeimg.com/1900/1080/tech");
    background-repeat: no-repeat;
    color:#fff;
}
.imagen-fondo>section{
    min-height: inherit;
    display:Flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(0,0,0,.75);
}
.imagen-fondo h1{
    font-size: 4vw;
}
@media (min-width:1024px){
    header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;  
    }
    .menu ul{
        display:flex;
    }
    .menu li{
        padding: .5rem;
    }
}
