*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    scroll-behavior:smooth;
}
body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
img{
    width: 100%;
    height: auto;
}
main{
    flex-grow: 1;
}
.titulares{
    padding: .5rem;
    background-color: #333;
    color: #eee;
}
.logo h1{
    font-size: 4vw;
}
a{
    color: #eee;
    text-decoration: none;
}
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu ul{
    list-style-type: none;
}

.imagen-fondo{
    min-height: 100vh;
    background-image: url("https://placeimg.com/1900/1080/tech");
    background-repeat: no-repeat;
    color:#fff;
}
.imagen-fondo>section{
    min-height: inherit;
    display:Flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(0,0,0,.75);
}
.imagen-fondo h1{
    font-size: 4vw;
}

.flex-responsive{
    display:flex;
    flex-flow: row wrap;
}

.flex-responsive-item{
    border:thin solid red;
    flex:1 1 200px;
}
@media (min-width:1024px){
    header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;  
    }
    .menu ul{
        display:flex;
    }
    .menu li{
        padding: .5rem;
    }
    .flex-container{
        display:flex;
        align-items: center;
    }
    .flex-items{
        flex:0 0 50%;
    }
    .flex-row-reverse{
        flex-direction: row-reverse;
    }
}
